<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Tata Consultancy Services</div>
                                        <div class="h6 mt-0 title">Front End Developer(2021-July - Present)</div>
                                        <p align="justify">Led the development of responsive, user centric web application. This Project addresses the business need for collection and delivery route planning for Great Britain and Northern Ireland.Developed modules for real-time tracking and scheduling of parcel deliveries.</p>
                                        <p align="justify">Implemented custom filters and search functionality to improve data navigation.</p>
                                        <p align="justify">Integrated REST APIs with secure HTTP communication and handled data binding, routing, and lifecycle hooks efficiently.</p>
                                        <p align="justify">Built dynamic UI components using Angular’s reactive forms, component-based architecture, and NgRx for complex state management.</p>
                                        <p align="justify">Actively participated in code reviews, bug fixing, and agile ceremonies (sprint planning, retrospectives).</p>
                                        <p align="justify">Used RxJS operators to handle async data streams from backend APIs efficiently.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Application Development</li>
                                            </ul>
                                            <li class="list">Web Technologies / Programming Languages </li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">HTML</li>
                                                        <li class="non_list">CSS / SCSS</li>
                                                        <li class="non_list">Angular v6.1.1 / v15</li>
                                                        <li class="non_list">NGRX</li>
                                                        <li class="non_list">RxJs</li>
                                                        <li class="non_list">Bootstrap/Angular Material/Angular Primeng</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Javascript</li>
                                                        <li class="non_list">Typescript</li>
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">C#</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                    </ul>
                </div>
    </div>
</div>