<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Projects</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge down bg-green">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h7 mt-0 title">To-do List Application</div>
                                        <p align="justify">A fully responsive and interactive To-Do List application built using Angular, designed to help users manage daily tasks efficiently. The app emphasizes clean UI/UX, real-time interactions, and robust state management.
                                            </p>
                                        <p align="justify">Developed a add, edit, delete and update feature of todo list.</p>
                                            
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Technology Used</li>
                                            <ul>
                                                <li class="non_list">Angular v13</li>
                                                <li class="non_list">RxJs</li>
                                                <li class="non_list">Bootstrap</li>
                                                <li class="non_list">HTML</li>
                                                <li class="non_list">CSS</li>
                                                <li class="non_list">C#</li>
                                                <li class="non_list">SQL</li>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <li>
                            <div class="timeline-badge down bg-green">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h7 mt-0 title">Counter Application</div>
                                        <p align="justify">A clean and interactive Angular-based counter app with functionality to increment, decrement, and reset values in real-time. Includes a structured menu system for navigating between multiple options, showcasing strong component interaction, event handling, and responsive UI.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Technology Used</li>
                                            <ul>
                                                <li class="non_list">Angular v17</li>
                                                <li class="non_list">HTML & CSS</li>
                                                <li class="non_list">RxJs</li>
                                                <li class="non_list">C#</li>
                                                <li class="non_list">SQL</li>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>     
                    </ul>
                </div>
    </div>
</div>
