
.container {
    max-width: none !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 auto;
}

.contact-card .title {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-card .card-body {
    padding-top: 20px;
        padding-bottom: 20px;
}

.col-md-8 .px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}