<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
      <div class="container">
        <div class="cc-contact">
          <div class="row justify-content-center">
            <div class="col-md-8 px-3">
              <div class="card mb-0 contact-card" data-aos="zoom-in">
                <div class="h4 text-center title">Contact Me</div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card-body">
                      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                        <div class="p pb-3">
                          <strong>Feel free to contact me </strong>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-group">
                              <input class="form-control" type="text" name="name" placeholder="Name" required [(ngModel)]="contact.name" #name="ngModel" />
                            </div>
                            <div *ngIf="name.invalid && name.touched" class="text-danger small">
                              Name is required
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-container">
                              <input class="form-control" type="text" name="subject" placeholder="Subject" required [(ngModel)]="contact.subject" #subject="ngModel" />
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-group">
                              <input class="form-control" type="text" name="email" placeholder="E-mail" required [(ngModel)]="contact.email" #email="ngModel" />
                            </div>
                            <div *ngIf="email.invalid && email.touched" class="text-danger small">
                              Email is required
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="form-group">
                              <textarea class="form-control" name="message" placeholder="Your Message" [(ngModel)]="contact.message" #message="ngModel"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <button class="btn btn-primary" type="submit"> Send</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                        <p class="mb-0">
                            <strong>Phone</strong>
                        </p>
                        <p class="pb-2">+91 8529843836</p>
                        <p class="mb-0">
                            <strong>Email</strong>
                        </p>
                        <p>jainswati873@gmail.com</p>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>